html {box-sizing:border-box}
#popup-back-screen {
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
border:1px solid #ccc;
text-align:center;
display:none;
}

#popup-window {

width:40%;
height:400px;
position:absolute;
background:#fff;
border:1px solid #ccc;
border-radius:5px;
padding:20px;
margin-top:200px;

}

#popup-window .close{
float:right;
}

#popup-inner {
float:left;
width:94%;
border:1px solid #ccc;
margin-top:20px;
padding:0 20px;
}

#click-item {
width:300px;
border:1px solid #eee;
padding:20px;
margin:auto;
text-align:center;
}